*{
    margin: 0;
    padding: 0;
}
ul {

    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #0c1f2d;
  }
  
  @media all and (max-width: 480px) 
  {
    
    ul { flex-direction: column; }
  
  }
  
  ul a  {
    
          padding: 1em 2em;
          position: relative;
          display: inline-block;
          font-family: 'open_sansregular';
          font-weight: bold;
          color: #ffffff;
          text-decoration: none;
          transition: 0.3s;
        }
  
  ul a:hover{
    
      background: #f05959;
  
  }

img{
    
    align-items: center;
}
.link{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
    color: #242424;
    
}
.box{
    list-style: none;
    justify-content:center;
    align-items: flex-end;
    display: flex;
    background-color: #072b60;
}
.para{
    background-image:linear-gradient(#ffc978,#dd5353) ;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    background-color: #dd5353;
}
.tt{
margin: 23px 0;
}
.bobo{
    background-color: #0c1f2d;
}
.p{
    width: 18px;
}
.rodape{
    background-color: #0c1f2d;
    display: flex;
    
}
